*
!alacritty/
!alacritty/*
!beets/
!beets/config.yaml
!btop/
!btop/btop.conf
!btop/themes/
!btop/themes/*
!hypr/
!hypr/*
!hypr/alacritty/
!hypr/alacritty/**
!hypr/mako/
!hypr/mako/conf/
!hypr/mako/conf/**
!hypr/mako/icons/
!hypr/mako/icons/**
!hypr/scripts/
!hypr/scripts/**
!hypr/tofi/
!hypr/tofi/**
!hypr/waybar/
!hypr/waybar/**
!Kvantum/
!Kvantum/*
!Kvantum/Monochrome/*
!qt6ct/
!qt6ct/*
!qt6ct/qss/*
!qt6ct/colors/*
!tmux/
!tmux/*
!tmux/plugins/*
!xdg-desktop-portal/
!xdg-desktop-portal/*
!starship.toml
!README.md
!.gitignore